.slider h3, .slider h5 .clients h3{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);	
	color: blue;
}

.parallax-container {
	height: 20%;
}

/*filter - hitam putih*/
.parallax img {
	filter: grayscale(1);
	opacity: 0.5 !important; // !importang, memaksa materialize untk menjalankan style kita sendiri (sama dengna bootstrap)
} 

.clients img {
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section, footer {
	padding: 20px 0;
}


.brand-logo {
	font-size: 15px !important;
	text-transform: uppercase;
	font-weight: bold;
}

footer p span {
	font-size: 20px;
}


.row .m3 img {
	height: 290px;
	width: 450px;
}

.img-galeri {
	margin-bottom: 10px;
}


/*DESKOP VERSION*/ 
@media (min-width: 700px) {
	.brand-logo {
		font-size: 30px !important;
	}


	footer p span {
		font-size: 30px;
	}


	.row .m3 img {
		height: 190px;
		width: 250px;
	}

}
